<div class="container">
  <h1 class="mat-h1">特性 & 职业</h1>
  <mat-accordion *ngFor="let synergy of synergies">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img
            class="synergy__icon"
            [src]="'/assets/synergies/imgs/' + synergy.keyword + '.png'"
            [alt]="synergy.keyword"
          />{{ synergy.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ synergy.type }}</p>
      <p>{{ synergy.desc }}</p>
      <ul *ngFor="let stat of synergy.stats">
        <li>{{ stat }}</li>
      </ul>
      <ul *ngFor="let hero of synergy.heros">
        <li>{{ hero }}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
