<div class="grid-container">
  <h1 class="mat-h1">装备合成</h1>
  <mat-grid-list cols="10" gutterSize="0">
    <ng-container *ngFor="let items of itemsList">
      <mat-grid-tile *ngFor="let item of items" [colspan]="1" [rowspan]="1">
        <app-item-figure
          class="item-figure"
          [item]="item"
          (click)="handleItemClick(item, $event)"
        ></app-item-figure>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>

  <div
    #tooltip
    class="item-detail"
    [class]="currentItem.id !== -1 ? '' : 'd-none'"
    (click)="$event.stopPropagation()"
  >
    <app-item-detail [item]="currentItem"></app-item-detail>
  </div>
</div>
