<article class="container">
  <h1>关于</h1>
  <p>
    基于 ❤️，使用 <a href="https://angular.io/">Angular</a> 开发，放在
    <a href="https://github.com/zjffun/lolchess">GitHub</a>，部署在 Coding Pages
    和 GitHub Pages。非常感谢腾讯、阿里云、Google、Microsoft 提供的支持。<img
      src="/assets/image_emoticon25.png"
      alt="huaji"
    />
  </p>

  <section>
    <h2>版本</h2>
    <p><a href="https://tft-zjffun.netlify.app">预览开发中的版本</a></p>
    <dl>
      <dt>
        <h3>v0.0.3</h3>
      </dt>
      <dd>
        <ul>
          <li>更新 S4 数据。</li>
          <li>移除 LoLCHESS.GG 推荐装备。（请原谅我太懒了😐）</li>
        </ul>
      </dd>
      <dt>
        <h3>v0.0.2</h3>
      </dt>
      <dd>
        <ul>
          <li>添加英雄过滤、排序功能。</li>
          <li>英雄详情显示特性和职业。</li>
          <li>支持特性职业表格拖拽自定义。</li>
          <li>支持路由改变时保存状态。</li>
        </ul>
      </dd>
      <dt><h3>v0.0.1</h3></dt>
      <dd>
        <ul>
          <li>添加装备合成表格、查看装备信息、装备的推荐英雄功能。</li>
          <li>添加查看特性 & 职业信息功能。</li>
          <li>添加查看英雄信息、英雄的推荐装备功能。</li>
          <li>添加以表格形式查找特性和职业对应英雄功能。</li>
          <li>支持离线使用。</li>
        </ul>
      </dd>
    </dl>
  </section>

  <section>
    <h2>找我玩</h2>
    <address>
      <dl>
        <dt>微信</dt>
        <dd>z1010543618</dd>
        <dt>LoL</dt>
        <dd>水晶之痕 - z也不过如此</dd>
        <dt>GitHub</dt>
        <dd>
          <a href="https://github.com/zjffun">https://github.com/zjffun</a>
        </dd>
      </dl>
    </address>
  </section>

  <section>
    <h2>计划</h2>
    <ul></ul>
  </section>
</article>
