<div class="container">
  <h1>{{ hero.displayName }}</h1>
  <dl>
    <dt>价格</dt>
    <dd>{{ hero.price }}</dd>
    <dt>护甲</dt>
    <dd>{{ hero.armor }}</dd>
    <dt>魔抗</dt>
    <dd>{{ hero.magicResistance }}</dd>
    <dt>攻击力</dt>
    <dd>{{ hero.attackDamage }}</dd>
    <dt>攻击范围</dt>
    <dd>{{ hero.attackRange }}</dd>
    <dt>攻速</dt>
    <dd>{{ hero.attackSpeed }}</dd>
    <dt>暴击率</dt>
    <dd>{{ hero.crit }}</dd>
    <dt>生命值</dt>
    <dd>{{ hero.health }}</dd>
    <dt>魔法值</dt>
    <dd>{{ hero.mana }}</dd>
    <dt>初始魔法值</dt>
    <dd>{{ hero.startMana }}</dd>
    <dt>技能</dt>
    <dd>
      【{{ hero.skillName }}】{{ hero.skillType }}
      <p>{{ hero.skillDetail }}</p>
    </dd>
  </dl>
</div>
