<article class="item">
  <div class="item__figure">
    <app-item-figure
      class="item__figure__img item__figure__img--main"
      [item]="item"
    ></app-item-figure>
    <span *ngIf="rowItem1 !== null">
      <span class="item__figure__span">=</span>
      <app-item-figure
        class="item__figure__img item__figure__img--raw"
        [item]="rowItem0"
      ></app-item-figure>
      <span class="item__figure__span">+</span>
      <app-item-figure
        class="item__figure__img item__figure__img--raw"
        [item]="rowItem1"
      ></app-item-figure>
    </span>
  </div>
  <h4 class="item__name">
    {{ item.name }}
  </h4>
  <p class="item__desc">{{ item.desc }}</p>
  <ul class="item__attrs">
    <li *ngFor="let attr of item.attrs">{{ attr }}</li>
  </ul>
  <p>lolqq 适合英雄</p>
  <ul class="hero-list">
    <li class="hero-list__item" *ngFor="let hero of item.lolqqheroes">
      <app-hero-figure [hero-keyword]="hero" size="sm"></app-hero-figure>
    </li>
  </ul>
  <p>lolchess 适合英雄</p>
  <ul class="hero-list">
    <li class="hero-list__item" *ngFor="let hero of item.lolchessheroes">
      <app-hero-figure [hero-keyword]="hero" size="sm"></app-hero-figure>
    </li>
  </ul>
</article>
