<article class="container">
  <div class="table-wrapper">
    <table class="js-classes-container">
      <tr class="js-origins-container">
        <td></td>
        <td *ngFor="let origin of origins">
          <div class="js-item" [attr.data-keyword]="origin.keyword">
            <img
              class="synergy__icon"
              [src]="'/assets/synergies/imgs/' + origin.keyword + '.png'"
              [alt]="origin.keyword"
            />
            <br />
            {{ origin.name }}({{ origin.stats | joinKeys: "/" }})
          </div>
        </td>
      </tr>
      <tr *ngFor="let clazz of classes">
        <td>
          <div class="js-item js-item--class" [attr.data-keyword]="clazz.keyword">
            <img
              class="synergy__icon"
              [src]="'/assets/synergies/imgs/' + clazz.keyword + '.png'"
              [alt]="clazz.keyword"
            />
            <br />
            {{ clazz.name }}({{ clazz.stats | joinKeys: "/" }})
          </div>
        </td>
        <td *ngFor="let origin of origins">
          <ng-container
            *ngFor="
              let hero of heroesService.getHeroesBySynergiesKeyword(
                clazz.keyword,
                origin.keyword
              )
            "
          >
            <app-hero-figure
              class="hero"
              [hero]="hero"
              size="sm"
            ></app-hero-figure>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</article>
