.synergy__icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.3rem;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  &__item {
    flex: none;
    list-style: none;
    width: 3rem;
  }
}
